@import "tailwindcss";
@plugin "daisyui";
 
 
 
@font-face {
  font-family: yekan;
  src: url(../src/fonts/fa/IRANYekanWeb-Medium.eot),
    url(../src/fonts/fa/IRANYekanWeb-Medium.ttf),
    url(../src/fonts/fa/IRANYekanWeb-Medium.woff),
    url(../src/fonts/fa/IRANYekanWeb-Medium.woff2);
}
@theme {
  --font-yekan: yekan;
  --breakpoint-desktop:1000px;
  --breakpoint-mobile:340px;
}
